<div>
    <input type="text" @keyup.enter="chat()" v-model="chatMessage" class="form-control" placeholder="Chat">
    <ul id="chat">
        <li v-for="{user, message} in messages">
            <strong>{{user}}: </strong> {{message}}
        </li>
    </ul>
</div>
