<div>
    <p>Username</p>
    <input id="usernameInput" v-model="username" type="text" class="form-control" placeholder="Username">

    <p>Password</p>
    <input id="passwordInput" v-model="password" type="text" class="form-control" placeholder="Password">

    <p><button class="btn btn-sm btn-primary" @click="login(username, password)">Login</button></p>

    <p><button class="btn btn-sm btn-secondary" @click="registerClicked(username, password)">Register</button></p>
</div>