<div>
    <h3>Username</h3>
    <input id="usernameInput" v-model="username" type="text" class="form-control" placeholder="Username">

    <h3>Password</h3>
    <input id="passwordInput" v-model="password" type="text" class="form-control" placeholder="Password">

    <button class="btn btn-sm btn-primary" @click="login()">Login</button>

    <button class="btn btn-sm btn-secondary" @click="registerClicked()">Register</button>
</div>