<h3>Welcome to the lobby!</h3>

<div v-if="players.length < 3">
    <h4>Waiting for players...</h4>
</div>
<div v-else>
    <h4>Waiting for admin to start (give them a nudge)</h4>
</div>

<h4>Players:</h4>
<ul>
    <li v-for="player in players">{{player.username}}</li>
</ul>